<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19191231?query=java%20Kiev">Android Developer for Netpulse (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19190970?query=java%20Kiev">System Analyst for PayCash (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19191340?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ПримоКоллект. Центр денежных требований</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161717?query=java%20Kiev">Senior Java Developer - Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19160814?query=java%20Kiev">Senior Java developer, Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19149161?query=java%20Kiev">Regular/Senior Java Developer (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161730?query=java%20Kiev">Senior Java Developer - Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161712?query=java%20Kiev">Java Developer for BIScience (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19077836?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев, Печерская</td> 
     <td class="companyName">Intellectsoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19165825?query=java%20Kiev">Middle Java Developer for TechFinancials (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19158280?query=java%20Kiev">Java Developer for Ciklum CTO Office (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19168687?query=java%20Kiev">Fullstack Developer for New Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18964345?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Кота Груп</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19167258?query=java%20Kiev">Middle Java Developer (Runtime)</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19157672?query=java%20Kiev">Senior/Lead Data Science Engineer for Tubular Labs (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19139975?query=java%20Kiev">Middle QA Manual Engineer for BIScience (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161769?query=java%20Kiev">Senior Java/Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19111053?query=java%20Kiev">Senior Java Developer for BIScience (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19102413?query=java%20Kiev">Java Software Engineer for Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161890?query=java%20Kiev">Senior Front End / Full stack Developer for Thomas Cook (Digital), Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161793?query=java%20Kiev">Senior Java Developer Mobile Enterprise</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19122891?query=java%20Kiev">React.JS Developer for Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141139?query=java%20Kiev">Fullstack Team Lead for New Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19122872?query=java%20Kiev">System Engineer - DevOps [EA]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19122786?query=java%20Kiev">Software Developer - Hadoop [EA- Hadoop]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18956867?query=java%20Kiev">Senior Java Developer (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19148826?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19135437?query=java%20Kiev">Middle QA Automation/Manual for SBTech Payments Team (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141497?query=java%20Kiev">Senior Java Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141499?query=java%20Kiev">Senior Java Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141511?query=java%20Kiev">Test Automation Engineer (Java)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902253?query=java%20Kiev">Java Solution Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19067062?query=java%20Kiev">Senior Java Developer for PayCash (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18889079?query=java%20Kiev">Lead Java Engineer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902254?query=java%20Kiev">Java Architect for Big Data</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902161?query=java%20Kiev">Senior Python/Java Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902168?query=java%20Kiev">Senior Java/JavaScript Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902170?query=java%20Kiev">Senior Java/Flex Software Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19126541?query=java%20Kiev">Middle/Senior Java Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19125611?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19112896?query=java%20Kiev">Senior РНР developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Digital Screens</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902244?query=java%20Kiev">Java Solution Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19050624?query=java%20Kiev">Java Team Lead for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19140581?query=java%20Kiev">Senior Java/Groovy Grails Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18965713?query=java%20Kiev">Senior Java developer, Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19111628?query=java%20Kiev">Senior Manual/Automation QA Engineer for PayCash (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18866885?query=java%20Kiev">Middle Node.js Developer for Thomas Cook Integration Team (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19108429?query=java%20Kiev">Lead Infrastructure Software Engineer - DevOps for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19110495?query=java%20Kiev">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19110442?query=java%20Kiev">Java Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19105628?query=java%20Kiev">Senior Java developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19110305?query=java%20Kiev">Software Products Engineer (Java development)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18826868?query=java%20Kiev">Senior Java/Scala Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19070138?query=java%20Kiev">Java support Specialist</a></td> 
     <td class="city">Киев, Берестейская</td> 
     <td class="companyName">Kyivstar</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19031224?query=java%20Kiev">Front-end Developer (JS, React)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">CYBER VISION, INC.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19027950?query=java%20Kiev">Senior Frontend Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Solidopinion</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19036337?query=java%20Kiev">QA Manager for Thomas Cook OneWeb Team (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18991038?query=java%20Kiev">Младший программист</a></td> 
     <td class="city">Вологда</td> 
     <td class="companyName">R-Style Softlab (Эр-Стайл Софтлаб)</td> 
     <td class="salary">27&nbsp;000-35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19051757?query=java%20Kiev">QA Automation Consultant (with JavaScript Experience) for Testing Center of Excellence (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19031512?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19018595?query=java%20Kiev">Senior Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DATAS Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19007441?query=java%20Kiev">Middle Java Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19007176?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19005510?query=java%20Kiev">Middle Java Developer (Runtime)</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18981499?query=java%20Kiev">Middle Manual QA for SBTech Platform Wallet Team (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18978564?query=java%20Kiev">Middle Manual QA for SBTech Platform Chameleon Team (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19006022?query=java%20Kiev">Senior Fullstack Java/Js Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18942112?query=java%20Kiev">Senior Solution Architect (Mobile Applications) for Ciklum (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19092484?query=java%20Kiev">Senior C++ /OpenGL developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Greenwich Group</td> 
     <td class="salary">от 4&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18965835?query=java%20Kiev">Senior Java/Scala Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18956646?query=java%20Kiev">Team Lead Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18954382?query=java%20Kiev">Senior Java Engineer (Poland)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19007294?query=java%20Kiev">Senior Software Developer in Test (Java)</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18956562?query=java%20Kiev">Senior Java (Front End) Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18954572?query=java%20Kiev">Technical Lead Java Engineer (Poland)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18948351?query=java%20Kiev">Разработчик мобильных приложений (Java Script)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Grinvich</td> 
     <td class="salary">1&nbsp;300-2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19088469?query=java%20Kiev">Senior Automation Tester</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19038490?query=java%20Kiev">QA Automation Engineer (Middle)</a></td> 
     <td class="city">Киев, Тараса Шевченко</td> 
     <td class="companyName">WIKR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19174261?query=java%20Kiev">Senior System Administrator/DevOps (Montenegro)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19078841?query=java%20Kiev">Mathematician</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ФЛП, Волошнюк Л.А.</td> 
     <td class="salary">50&nbsp;000-80&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19103242?query=java%20Kiev">Senior Web Full Stack Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Greenwich Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19108840?query=java%20Kiev">Тестировщик / QA Engineer</a></td> 
     <td class="city">Киев, Выставочный центр</td> 
     <td class="companyName">Playtini</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19108195?query=java%20Kiev">PHP Team Lead</a></td> 
     <td class="city">Киев, Ипподром</td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19166763?query=java%20Kiev">JavaScript Consultant (United Arab Emirates)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19149064?query=java%20Kiev">Android developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Digital Screens</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19157985?query=java%20Kiev">Middle C++ Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19162122?query=java%20Kiev">Test Automation Engineer</a></td> 
     <td class="city">Киев, Лукьяновская</td> 
     <td class="companyName">Itera Consulting Group Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19161614?query=java%20Kiev">Software Support Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19149085?query=java%20Kiev">3D+Java Graphics Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19160738?query=java%20Kiev">Team Lead Mobile Enterprise</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19103722?query=java%20Kiev">DevOps Engineer for Financial Industry Project</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141514?query=java%20Kiev">Test Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19059629?query=java%20Kiev">Ведущий Бизнес-Аналитик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Venbest Recruiting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141518?query=java%20Kiev">Senior Support Engineer (Linux+WebLogic)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141521?query=java%20Kiev">Support Specialist (Software Engineer)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18881394?query=java%20Kiev">Senior DevOps Engineer (AWS)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902200?query=java%20Kiev">Senior DevOps Engineer (AWS)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19146501?query=java%20Kiev">Senior Android Developer</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19149897?query=java%20Kiev">Senior Full Stack Engineer (Angular JS)</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19141520?query=java%20Kiev">Support Specialist (Administrator)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19144430?query=java%20Kiev">Middle Angular JS developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18854074?query=java%20Kiev">HTML-верстальщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО РА ГРУПП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19122775?query=java%20Kiev">Software Engineer – Tools [EA]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902270?query=java%20Kiev">Delivery Manager</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18980888?query=java%20Kiev">Senior FrontEnd Developer (Angular)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18765849?query=java%20Kiev">Techinal Project Manager</a></td> 
     <td class="city">Санкт-Петербург, Чёрная речка</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19110761?query=java%20Kiev">Senior Development Specialist / Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19110589?query=java%20Kiev">Senior IOS Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19103596?query=java%20Kiev">Demandware Senior Software Developer (Front End)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">9&nbsp;500-10&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19091036?query=java%20Kiev">Software Engineering Manager</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">8&nbsp;000-8&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19092039?query=java%20Kiev">Senior Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19059853?query=java%20Kiev">Middle/Senior Xamarin/Android developer (ID: 5308)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18833435?query=java%20Kiev">Senior PHP Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19072746?query=java%20Kiev">Senior Automation QA Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19069253?query=java%20Kiev">Senior PHP Developer for Mühlemann&amp;Popp (Relocation to Minsk)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19067352?query=java%20Kiev">Senior DevOps</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19015647?query=java%20Kiev">Test Automation Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18794433?query=java%20Kiev">Разработчик программного обеспечения, руководитель проектов</a></td> 
     <td class="city">Киев, Университет</td> 
     <td class="companyName">ДТЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19027145?query=java%20Kiev">Middle/Senior SQL and C++ Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Первый Украинский Международный банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19031786?query=java%20Kiev">Middle .NET Developer for Ciklum Client (2-3 months project)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18960992?query=java%20Kiev">Regular ASP.Net Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18967114?query=java%20Kiev">Middle Front End Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18970943?query=java%20Kiev">Senior Python Developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary">3&nbsp;500-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18970944?query=java%20Kiev">Senior Python Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Smart Solutions</td> 
     <td class="salary">3&nbsp;500-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18967180?query=java%20Kiev">Senior Node.JS developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18989418?query=java%20Kiev">Lead Android Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18984023?query=java%20Kiev">Database Developer (Java+Hive or Impala)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18897787?query=java%20Kiev">QA Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Terrasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18967366?query=java%20Kiev">Middle DevOps Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18967259?query=java%20Kiev">Senior L3 support engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18966120?query=java%20Kiev">Senior Business/Functional Analyst</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18978988?query=java%20Kiev">Senior QA .NET Auto engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18966655?query=java%20Kiev">Senior C++ / Go Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18961387?query=java%20Kiev">Senior C++ Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18957305?query=java%20Kiev">Data Scientist</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Kyivstar</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18953874?query=java%20Kiev">Senior Auto QA Engineer (Poland)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18947217?query=java%20Kiev">Senior Automation QA .NET Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19040203?query=java%20Kiev">Senior Frontend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО Solidopinion</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19028900?query=java%20Kiev">Senior iOS Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lamoda</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19028840?query=java%20Kiev">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lamoda</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18841295?query=java%20Kiev">Java-программист</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Finpari</td> 
     <td class="salary">от 50&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19029915?query=java%20Kiev">Back-end developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DATAS Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19054144?query=java%20Kiev">QA automation engineer</a></td> 
     <td class="city">Киев, Левобережная</td> 
     <td class="companyName">SandSIV Group</td> 
     <td class="salary">до 2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19128929?query=java%20Kiev">PHP-программист</a></td> 
     <td class="city">Киев, Дворец "Украина" и еще 1</td> 
     <td class="companyName">ООО Кит Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19170237?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ОАО ROOTS-D</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19169984?query=java%20Kiev">Senior Java full stack developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Stuzo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19103799?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Interactivity</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18826327?query=java%20Kiev">Программист Java</a></td> 
     <td class="city">Киев, Петровка и еще 2</td> 
     <td class="companyName">Украинский Процессинговый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19082465?query=java%20Kiev">Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">United Thinkers</td> 
     <td class="salary">40&nbsp;000-50&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18840432?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев, Бориспольская</td> 
     <td class="companyName">Trip Top Technologies Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19066747?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП KAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19041137?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">CYBER VISION, INC.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18211136?query=java%20Kiev">Java Team Lead (IMS)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18507337?query=java%20Kiev">Senior Java Developer (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032466?query=java%20Kiev">Java Developer (Mexos)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18211141?query=java%20Kiev">Java Developer (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18507327?query=java%20Kiev">Java Developer (Videobet)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18789649?query=java%20Kiev">Senior Java Developer (Videobet)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19031497?query=java%20Kiev">Sr. Java / Grails Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032460?query=java%20Kiev">Java Team Lead (Cross Products)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18211137?query=java%20Kiev">Senior Java/Hadoop developer (Cross Products)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18753978?query=java%20Kiev">Java программист/архитектор</a></td> 
     <td class="city">Киев, Театральная и еще 2</td> 
     <td class="companyName">ООО Софтиндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19176126?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО APP3null GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15442482?query=java%20Kiev">Водитель со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Такси ЗЕФИР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/13363231?query=java%20Kiev">Водитель в ТАКСИ(с авто)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">18&nbsp;000-25&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17746116?query=java%20Kiev">Веб-дизайнер/ верстальщик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ЧП Живая-Вода</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19170821?query=java%20Kiev">Business Systems Analyst</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">ООО Эстафета</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19128019?query=java%20Kiev">Разработчик C# Engineer for CAD file formats</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19123396?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">PNN Soft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19122826?query=java%20Kiev">Senior Full Stack Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">AllStars-IT</td> 
     <td class="salary">от 1&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19123745?query=java%20Kiev">Разработчик ABAP</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">BrigRetail</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19121848?query=java%20Kiev">Прикладной администратор</a></td> 
     <td class="city">Киев, Петровка и еще 2</td> 
     <td class="companyName">Украинский Процессинговый Центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18963139?query=java%20Kiev">Разработчик Senior .Net Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19126160?query=java%20Kiev">Application Administrator</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19071125?query=java%20Kiev">Водитель такси со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Панда такси / Автотранспортне підприємство, ТОВ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19082193?query=java%20Kiev">Middle QA Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Krusche and Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19114253?query=java%20Kiev">Тренер по разработке сайтов (WordPress, Joomla, HTML, CSS, Bootstrap)</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">PRO BUSINESS SCHOOL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19097474?query=java%20Kiev">PHP programmer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ExpoPromoGroup</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19088749?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев, Петровка</td> 
     <td class="companyName">Seductive</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19113578?query=java%20Kiev">MEAN Stack Web Developer</a></td> 
     <td class="city">Киев, Дворец спорта</td> 
     <td class="companyName">AllStars-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19068083?query=java%20Kiev">Front-end Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО SeniorDevOnly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18556146?query=java%20Kiev">IOS Mobile Developer</a></td> 
     <td class="city">Киев, Площадь Льва Толстого и еще 2</td> 
     <td class="companyName">ООО KSTT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19065318?query=java%20Kiev">Site Reliability Engineer</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Sourcepilots</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19001240?query=java%20Kiev">Siebel-разработчик</a></td> 
     <td class="city">Киев, Дорогожичи</td> 
     <td class="companyName">Ареон Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19055243?query=java%20Kiev">Senior PHP Programmer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19042827?query=java%20Kiev">Senior Android Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Attendify</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18556150?query=java%20Kiev">QA Automation engineer</a></td> 
     <td class="city">Киев, Площадь Льва Толстого и еще 2</td> 
     <td class="companyName">ООО KSTT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032453?query=java%20Kiev">Business Analyst (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18893437?query=java%20Kiev">Senior Developer in Test (QA Automation Engineer)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CustomerTimes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18969195?query=java%20Kiev">LeadJava Developer (remotely)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18789575?query=java%20Kiev">Product Operations Team Leader (to Estonia)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19018446?query=java%20Kiev">Web-разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DagrSol</td> 
     <td class="salary">500-1&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032468?query=java%20Kiev">Scala Developer (GPAS)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032449?query=java%20Kiev">GWT/JavaScript developer (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032445?query=java%20Kiev">DevOps Engineer (Gaming platform)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18507330?query=java%20Kiev">HTML5 Game Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19032461?query=java%20Kiev">Product operations engineer (Mobile &amp; Web Project)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19001504?query=java%20Kiev">QA Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Omnigon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19018399?query=java%20Kiev">Middle Android Developer</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">ООО Эстафета</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19003123?query=java%20Kiev">Инженер IPTV</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Космонова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18229807?query=java%20Kiev">Работа в такси</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">10&nbsp;000-20&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18957117?query=java%20Kiev">Начинающий веб-разработчик</a></td> 
     <td class="city">Киев, Житомирская</td> 
     <td class="companyName">Интернет-магазин StockshopTV</td> 
     <td class="salary">от 5&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18996039?query=java%20Kiev">Middle PHP developer</a></td> 
     <td class="city">Киев, Контрактовая площадь</td> 
     <td class="companyName">ООО ХЕКСА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/19018972?query=java%20Kiev">Tech Lead</a></td> 
     <td class="city">Киев, Берестейская и еще 1</td> 
     <td class="companyName">Speroteck</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18957131?query=java%20Kiev">Hadoop / Big Data developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">KSF (KSF Technologies Ltd.)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18949816?query=java%20Kiev">QA Engineer (Middle)</a></td> 
     <td class="city">Киев, Бориспольская</td> 
     <td class="companyName">Trip Top Technologies Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17145016?query=java%20Kiev">Front-end JavaScript developer</a></td> 
     <td class="city">Киев, Театральная и еще 2</td> 
     <td class="companyName">ООО Софтиндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>